.main {
  /* Фиксированная ширина боковой панели */
  background-color: #f5f5f5; /* Светлый фон для отделения от основного контента */
  border-left: 1px solid #ccc; /* Вертикальная разделительная линия */
  display: flex;
  flex-direction: column; /* Располагаем чатовые элементы вертикально */
  padding: 10px;
  height: 100vh; /* Внутренние отступы для эстетики */
  align-items: center;
}

.logoutButton {
  justify-self: flex-end;
  font-size: large;
  width: 70%;
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  height: 105px;
}

.logoutButton:hover {
  background-color: white;
}
