/* Основной контейнер занимает всю высоту экрана и становится flex-контейнером */
.main {
    display: flex;
    height: 100vh; /* Полная высота экрана */
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
  
  /* Боковая панель со списком чатов */
  .chatsList {             /* Фиксированная ширина боковой панели */
    background-color: #f5f5f5;     /* Светлый фон для отделения от основного контента */
    border-right: 1px solid #ccc; /* Вертикальная разделительная линия */
    display: flex; 
    flex-direction: column;      /* Располагаем чатовые элементы вертикально */
    padding: 10px;               /* Внутренние отступы для эстетики */
    overflow-y: auto;            /* Скролл при переполнении списка */
  }
  
  /* Каждый элемент чата */
  .chatDiv {
    background-color: #ffffff;               /* Белый фон для отдельного чатового элемента */
    border: 1px solid #ddd;                    /* Легкая рамка вокруг */
    border-radius: 5px;                        /* Скругленные углы */
    padding: 10px;                             /* Внутренние отступы для содержания */
    margin-bottom: 10px;                       /* Отступ между элементами */
    cursor: pointer;                           /* Показываем, что элемент кликабелен */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);   /* Легкая тень для объема */
    height: 70px;
  }
  
  /* Убираем нижний отступ у последнего элемента */
  .chatDiv:last-child {
    margin-bottom: 0;
  }